doctype html

head
    meta(charset="utf-8")
    title BrownBird Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="_/css/style.css")

body

  header.bird-box
    .back-bird
    .logo
    .fore-bird


  section.content
    article

      h1 Unique Style

      hr

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias mollitia id sequi possimus quia quos, sunt numquam rerum. Consequuntur vitae eum iure magnam, tenetur porro aliquam error libero quia molestias!

      hr

      .clothes-pics

        .row.img-row
          figure.columns.four
            img(src="images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$134</strong>

          figure.columns.four
            img(src="images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$134</strong>

          figure.columns.four
            img(src="images/model3.jpg")
            figcaption BlackBird Jacket - <strong>$134</strong>

        .row.img-row
          figure.columns.four
            img(src="images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$134</strong>

          figure.columns.four
            img(src="images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$134</strong>

          figure.columns.four
            img(src="images/model3.jpg")
            figcaption BlackBird Jacket - <strong>$134</strong>

        .row.img-row
          figure.columns.four
            img(src="images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$134</strong>

          figure.columns.four
            img(src="images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$134</strong>

          figure.columns.four
            img(src="images/model3.jpg")
            figcaption BlackBird Jacket - <strong>$134</strong>


      h1 Different Style

      hr

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias mollitia id sequi possimus quia quos, sunt numquam rerum. Consequuntur vitae eum iure magnam, tenetur porro aliquam error libero quia molestias!

      hr

      .large-window
        .window-tint
          .promo-text Fall Suits
            strong <span>from</span> $99
            a(href="").window-cta Show Now


      div(style="height: 1000px;")

    script(src="_/js/jquery.min.js")
    script(src="_/js/script.js")